<div class="item--overlay">
	<a href="{{ project.url }}">
		<img src="{{ project.image }}" alt="{{project.title}}">
		
    <div class="item--overlay__text">
      <div class="grid-y align-middle align-center text-center" style="height: 100%">
        <div class="cell">
          
          <div class="item--overlay__text__title">
          <h3>{{project.title}}</h3>
          </div>
          
          <div class="item--overlay__text__director">
          {{project.director}}
          </div>
          
  		  </div>
  		</div>
    </div>
          
	</a>
</div>