{% for entry in site.data.navigation %}{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}{% if fullurl == page.url %}{% assign current_page = fullurl %}{% break %}{% elsif page.url contains fullurl %}{% assign current_page = fullurl %}{% endif %}{% endfor %}
<!-- Navigation -->
<div class="grid-x grid-padding-x grid-padding-y align-justify">
  
  <div class="auto cell">
    <ul class="menu simple align-bottom">
        <li class="navigation__logo"><a href="/">{{site.title}}</a></li>
    </ul>
  </div>
</div>
<!-- End Navigation -->