/*
@font-face {
  font-family: 'PX Grotesk Regular';
  src: 
  url('../fonts/px-grotesk-regular.woff2') format('woff2'), 
  url('../fonts/px-grotesk-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Text Regular';
  src: 
  url('../fonts/tiempos-text-regular.woff2') format('woff2'), 
  url('../fonts/tiempos-text-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Untitled Sans Regular';
  src: 
  url('../fonts/untitled-sans-regular.woff2') format('woff2'), 
  url('../fonts/untitled-sans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*/

@font-face {
  font-family: 'Univers Next Pro Light';
  src: 
  url('../fonts/univers-next-pro-light.woff2') format('woff2'), 
  url('../fonts/univers-next-pro-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gallery';
  src: 
  url('../fonts/gallery.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}